---
# tasks file for the wp role
- name: Install the required packages
  include_tasks: install_packages.yml
- name: Run mysql_secure_installation
  include_tasks: mysql_secure_installation.yml
- name: Setup Nginx
  include_tasks: setup_nginx.yml
- name: Create the MySQL Database for Wordpress
  include_tasks: create_wordpress_db.yml
- name: Create the MySQL user for Wordpress
  include_tasks: create_mysql_user.yml
- name: Install Wordpress
  include_tasks: install_wordpress.yml